[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numpy-quaternion = "*"
pybullet = "*"
zmq = "*"
pybullet-controllers = {path = "./src/pybullet_controllers"}
pybullet-robots = {path = "./src/pybullet_robots"}
pybullet-simulation = {path = "./src/pybullet_simulation"}
pybullet-interfaces = {path = "./src/pybullet_interfaces"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
zmq_interface_test = "python3 tests/interface_test.py"
