[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numpy-quaternion = "*"
pybullet = "*"
numba = "*"
scipy = "*"
zmq = "*"
matplotlib = "*"
pybullet-controllers = {path = "./src/pybullet_controllers"}
pybullet-simulation = {path = "./src/pybullet_simulation"}
pybullet-interfaces = {path = "./src/pybullet_interfaces"}
pybullet-robots = {path = "./src/pybullet_robots"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
simple_ctrl_test = "python3 demos/simple_ctrl_test.py"
hyb_ctrl_test = "python3 demos/hyb_ctrl_test.py"
zmq_interface_test = "python3 tests/interface_test.py"
zmq_velocity_control = "python3 tests/velocity_control_test.py"
zmq_torque_control = "python3 tests/torque_control_test.py"
